#services {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #services td, #services th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #services tr:nth-child(even){background-color: #f2f2f2;}
  
  #services tr:hover {background-color: #ddd;}
  
  #services th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  tr{
      text-align: center;
  }
  .table{
    margin-top: 20px;
    margin-bottom: 50px;
  }